$primary-color: rgb(190, 13, 13);
$secondary-color: #0f0f0f;
$color-grey: #626c74;
$color-lgrey: rgb(224, 227, 230);
$color-red: #d3434d;
$color-lred: #ff9aa1;
$color-lblue: #7bbfbf;
$color-dblue: #06a0b3;
$color-lblue2: #b2f7f7;

@mixin flex-center {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
}

@mixin media-sm {
    @media screen and (min-width: 770px) {
        @content;
    }
}

@mixin media-lg {
    @media screen and (min-width: 1025px) {
        @content;
    }
}

@mixin media-xl {
    @media screen and (min-width: 1600px) {
        @content;
    }
}
