$color-grey: #626c74;
$color-lgrey: rgb(224, 227, 230);
$color-red: #d3434d;
$color-lred: #ff9aa1;
$color-lblue: #7bbfbf;
$color-dblue: #06a0b3;
$color-lblue2: #b2f7f7;
$primary-color: #b3063a;
$secondary-color: #b36b06;

@mixin flex-center {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
}

@mixin transition-ease {
    transition: all 0.5s ease-in-out;
}

@mixin media-mb {
    @media screen and (max-width: 1025px) {
        @content;
    }
}
